body {
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../img/bg.jpg') center/cover fixed no-repeat;
}

header {
    background-image: url('../img/bg_menu.jpg');
    background-size: cover;
    background-position: center;
    color: #d5952f;
    padding: 20px 0;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    
}
 

nav {
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

    a:hover {
        color: #ffd700; 
    }

section {
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    margin: 20px;
    font-size: 18px; 
    color: rgb(255, 255, 255); 
    font-weight: bold;
}

.cart-icon {
    position: absolute;
    top: 5px;
    right: 10px;
}

.contact-info {
    margin-bottom: 30px;
}

form {
    display: grid;
    gap: 20px;
}

.service {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

    .service:hover {
        transform: scale(1.05); 
    }

   

    

footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-align: left;
    padding: 0px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.search-container {
    text-align: center;
    margin: 20px 0;
}

.search-box {
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.search-button {
    padding: 10px 15px;
    border: none;
    background-color: #ff6600;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.search-button:hover {
    background-color: #cc5200;
}
